.container {
<<<<<<< HEAD
  background-color: darkgray;
=======
>>>>>>> dd5936ddb33e38b036529c7581df057fca9fe43a
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(96, 95, 95);
}
.buttonVolver {
  margin-top: 20px;
  border: 2px solid chocolate;
  font-size: 1rem;
  background-color: chocolate;
  border-radius: 10px;
  margin-top: 1.4rem;
  border: 1px solid white;
}
.name {
  margin-top: 20px;
  border: 2px solid chocolate;
  font-size: 1.7rem;
  background-color: chocolate;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid white;
<<<<<<< HEAD
  color: navajowhite;
=======
  color: blue;
>>>>>>> dd5936ddb33e38b036529c7581df057fca9fe43a
}
.image {
  position: relative;
  display: flex;
  border-radius: 0px;
  height: 500px;
  width: 737px;
  border-radius: 1.5rem;
}
.altura {
  margin-top: -25px;
  border: 2px solid chocolate;
  font-size: 1.5rem;
  background-color: chocolate;
  border-radius: 10px;
  align-items: center;
  color: burlywood;
}
.peso {
  margin-top: -30px;
  border: 2px solid chocolate;
  font-size: 1.5rem;
  background-color: chocolate;
  border-radius: 10px;
  align-items: center;
  color: burlywood;
}
.temper {
  margin-top: -35px;
  border: 2px solid chocolate;
  font-size: 1.5rem;
  background-color: chocolate;
  border-radius: 10px;
  align-items: center;
<<<<<<< HEAD
  color: burlywood;
=======
  color: blue;
>>>>>>> dd5936ddb33e38b036529c7581df057fca9fe43a
}
.life {
  margin-top: -20px;
  border: 2px solid chocolate;
  font-size: 1.5rem;
  background-color: chocolate;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: burlywood;
}
