.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  margin: 1px;
  min-height: 70rem;
  background-color:cornsilk;
}
.inputs {
  border: 1px solid red;
  display: flex;
  flex-direction: column;

}
.lista {
  border: 1px solid green;
}
.prueba {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.addtemper{
    margin: 1px solid black;
}
